:root{
    --green: rgb(0, 255, 179);
    --lightGreen: rgb(119, 255, 214);
    --dark: #2d2d2d;
}

main{
    padding: 1.5rem;
    padding-left: 3rem;
}

#subjects-wrapper div .checkbox:active, button:active{
    transition: all 0.1s ease-in-out;
    transform: scale(0.9) !important;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--dark); 
}

button{
    border-style: solid;
    border-color: var(--dark);
}

button:hover{
    transform: scale(1.05);
}

/* Snippet */
#answer-input{
    border-radius: 10px 0 0 10px !important;
    border-style: solid;
    border-color: var(--dark);
}

#submit-button{
    border-radius: 0 10px 10px 0 !important;
    border-left: 0 !important;
    background: var(--green);
    border-style: solid;
    border-color: var(--dark);
}

#submit-button:hover{
    border-radius: 10px !important;
    border-color: transparent;
    outline: 3px solid;
    transform: scale(1.05);
    background-color: var(--lightGreen);
}

#answer-button:hover{
    color: orangered;
}

#code{
    height: 80vh !important;
}

.codeSnippet{
    height: 100%;
}

/* Aside */
#close-button{
    height: 40px !important;
    width: 40px !important;
}

.collapsed{
    max-width: 60px !important;
}

/* Subjects */
#subjects-wrapper{
    height: 20vh;
}

#subjects-wrapper div .checkbox{
    height: 22px;
    width: 22px;
    border: solid 3px var(--dark);
    cursor: pointer;
}

#subjects-wrapper div .checkbox:hover:not(.active){
    background-color: var(--lightGreen);
    opacity: 0.7;
}

#subjects-wrapper div .checkbox:hover{
    transform: scale(1.05);
}

#subjects-wrapper div .active{
    background-color: var(--green);
}

#subjects-wrapper div:nth-child(odd){
    background-color: rgb(235, 235, 235);
}

/* Difficulty */
.form-select{
    box-shadow: none !important;
    outline: none !important;
    border: 1px solid var(--dark) !important;
}

@media screen and (max-width: 500px){
    #answer-form{
        flex-direction: column !important;
        gap: 0.5rem;
    }
    #submit-button, #answer-input{
        border-radius: 10px !important;
        border: solid 3px var(--dark) !important;
    }
}